[Unit]
Description=JackTrip-Agent
After=jacktrip-init.service

[Service]
Type=simple
User=root
Group=root
Environment="JACK_PROMISCUOUS_SERVER=audio"
EnvironmentFile=-/etc/default/jacktrip-agent
ExecStart=/usr/local/bin/jacktrip-agent $AGENT_OPTS
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=inherit
SyslogIdentifier=jacktrip-agent

[Install]
WantedBy=multi-user.target
