[Unit]
Description=JackTrip-Credentials
Before=bthelper@hci0.service

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/local/bin/jacktrip-credentials.sh
RemainAfterExit=true
Restart=no
StandardOutput=journal
StandardError=inherit
SyslogIdentifier=jacktrip-credentials

[Install]
WantedBy=jacktrip-agent.service
